@page "/catalogmovies"
@using WebMovie.Shared
@inject HttpClient Http
@inject IPopularMovieServices popularMovies

<h3>CatalogMovies</h3>
@foreach (var item in movies)
{
    <p>@item.title</p>
}

@code {
    List<Result> movies = new List<Result>();

    protected override async Task OnInitializedAsync()
    {
        movies = await popularMovies.GetPopularMovies();
    }

}
