@page "/detailmovie/{id:int}"
@using WebMovie.Shared
@inject HttpClient Http
@inject IMovieServices _moviesServices


<div style="background-image: url(@backgroundPath);  background-repeat: no-repeat;">
    <div>
        <img src="@posterPath"/>
    </div>
</div>

@code {

    [Parameter]
    public int id { get; set; }

    MovieDetails MovieDetails = new MovieDetails();

    public string backgroundPath { get; set; } = "";

    public string posterPath { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        MovieDetails = await _moviesServices.GetMovie(id);
        backgroundPath = string.Concat("https://image.tmdb.org/t/p/w500", MovieDetails.backdrop_path);
        posterPath = string.Concat("https://image.tmdb.org/t/p/w500", MovieDetails.poster_path);
    }
}
