@page "/detailmovie/{id:int}"
@using WebMovie.Shared
@inject HttpClient Http
@inject IMovieServices _moviesServices

<h3>@MovieDetails.Title</h3>
<div style="background-image: src(@backgroundPath)">

</div>

@code {

    [Parameter]
    public int id { get; set; }

    MovieDetails MovieDetails = new MovieDetails();

    public string backgroundPath { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        MovieDetails = await _moviesServices.GetMovie(id);
        backgroundPath = string.Concat("https://image.tmdb.org/t/p/w500", MovieDetails.backdrop_path);
    }
}
